@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

@import "tailwindcss";

body {
  font-family: 'Inter', sans-serif;
  background-color: #F8FAFC; /* brand-light-gray */
  color: #0F172A; /* brand-text-dark */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
